accelerate==0.31.0
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
async-timeout==4.0.3
attrs==23.2.0
bitsandbytes==0.42.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
dataclasses-json==0.6.7
exceptiongroup==1.2.1
faiss-cpu==1.8.0
filelock==3.15.4
frozenlist==1.4.1
fsspec==2024.6.0
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.23.4
idna==3.7
InstructorEmbedding==1.0.1
Jinja2==3.1.4
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
langchain==0.2.5
langchain-community==0.2.5
langchain-core==0.2.9
langchain-text-splitters==0.2.1
langsmith==0.1.82
MarkupSafe==2.1.5
marshmallow==3.21.3
mpmath==1.3.0
multidict==6.0.5
mypy-extensions
networkx
nltk==3.8.1
numpy
ollama
orjson
packaging
pillow
psutil
pydantic
pydantic_core
PyMuPDF
PyMuPDFb
pypdf
PyYAML
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers==2.2.2
sentencepiece
sniffio
SQLAlchemy
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
torch
torchvision
tqdm
transformers
typing-inspect
typing_extensions
urllib3
yarl
